<div class="row banner">
	<h1>Get Your Facts Right</h1>
	<div class="inline square"></div>
	<div class="inline square"></div>
	<div class="inline square"></div>
	<h2 class="">Where is your money being spent?</h2>
</div>
<div class="row body">
	<div class="col-sm-6 left">
		<%= image_tag("analytics-600.jpg", :class => "image") %>		
	</div>
	<div class="col-sm-6 right">
		<h3>Learn Insights to boost your ROI</h3>
			<ul>
	   			<li>Souvlaki ignitus carborundum e pluribus unum</li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
	   			<li>Epsum factorial non deposit quid pro quo hic escorol. </li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
			</ul>
	</div>
</div>	
<hr>
<div class="row">
	<div class="col-sm-6 left" >
		<h3>Learn Insights to boost your ROI</h3>
			<ul>
	   			<li>Souvlaki ignitus carborundum e pluribus unum</li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
	   			<li>Epsum factorial non deposit quid pro quo hic escorol. </li>
	   			<li>Quote meon an estimate et non interruptus stadium. </li>
			</ul>
	</div>
	<div class="col-sm-6 right">
		<%= image_tag("analytics-600.jpg", :class => "image") %>	
	</div>
</div>	
<hr>
<div class="row">
	<div class="col-sm-6">
		<ul>
			<li><%= image_tag("validation 1.jpg", :class => "icon") %></li>
			<li><%= image_tag("validation 2.png", :class => "icon") %></li>
			<li><%= image_tag("validation 3.png", :class => "icon") %></li>
			<li><%= image_tag("validation 4.png", :class => "icon") %></li>
			<li><%= image_tag("validation 5.jpg", :class => "icon") %></li>
		</ul>
	</div>
	<div class="col-sm-6"></div>
</div>	
<div class="row">
	<div class="col-sm-6"></div>
	<div class="col-sm-6"></div>
</div>	
<div></div>	
