<!DOCTYPE html>
<html>
<head>
  <title>Ironbnb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "Home", root_path %>
<%= link_to "Become a Host", become_a_host_path %>
<%= link_to "Help", help_path %>
<%= link_to "Sign Up", sign_up_path %>
<%= link_to "Log in", log_in_path %>

<%= yield %>

</body>
</html>
