<%= link_to("Projects", projects_path) %>
<%= link_to("New Time Entry", new_project_time_entry_path) %>
<ol>
	<% @time_entries.each do | single_entry |%>
	<li>
		<%= single_entry.hours %> h - 
		<%= single_entry.minutes %> m -
		<%= single_entry.date %>		
	</li>
	<% end %>
</ol>

