<h1> Welcome to <%= @user.name %> Product Page </h1>

<ol>
	<% @products.each do | single_entry |%>
	<li>
		<%= link_to "#{single_entry.title}", user_product_path(@user, single_entry) %> - 
		<%= single_entry.description %> m -
		<%= single_entry.deadline %>		
	</li>
	<% end %>
</ol>
<button>
		<%= link_to 'Users', users_path %>
</button>
<button>
		<%= link_to 'Create Product', new_user_product_path %>
</button>